
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Irish+Grover&display=swap');

h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;

}

body {
	font-family: 'Dancing Script', cursive;
	font-family: 'Irish Grover', cursive;
	background-color:rgb(248, 220, 184);	
	/* background-image: url(/img/oboina1.png); */       /*смешные обои*/
	padding: 20px 0;
}

.container {
	width: 800px;
	min-height: 500px;
	border: 10px solid antiquewhite;
	margin: 0 auto;
	background-color: antiquewhite;
	
}
.header {
	display: flex;
	height: 150px;
	
}

.title-block {
	position: relative;
	display: flex;
	width: 80%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	
	background: url("https://senior.ua/storage/article/content/4c87f7c1-6bb1-4831-98e7-f926b547ee48.jpeg") no-repeat center center / cover;
	filter: grayscale(90%);
	color: white;
	margin-right: 10px;
	
}
.title-block::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
}

.title {
	position: relative;
	z-index: 1;
	color: #f2dba5;
}

.user-pic {
	display: flex;
	width: 20%;
	height: 100%;
	background: url("https://yt3.ggpht.com/ytc/AKedOLS8ktpreJwATYAXktWUChen5tnhYFHlue8xhc_o0g=s900-c-k-c0x00ffffff-no-rj") no-repeat center center / cover;
	filter: grayscale(60%);
}

.nav ul {
	display: flex;
	background: rgb(248, 220, 184);
	margin-top: 10px;
}

.nav li a{
	display: flex;
	padding: 20px;
	text-decoration: none;
	color: rgb(24, 14, 12);
	font-weight: bold;
	border-right: 2px solid antiquewhite;
	transition: background .8s ease;
}

.nav li a:hover{
	/* background: rgb(66, 66, 65); */
	background:#ccc394;
	box-shadow: inset 2px 2px 3px 5px antiquewhite;
	transition: 0.5s;
	/* text-shadow:6px 6px 3px black;
	color:white */
	text-shadow:4px 4px 3px rgb(255, 235, 229);
	color:black
}

.content-wrapper {
	display: flex;
}

.content {
	width: 70%;
	padding: 20px;
	font-size: 16px;
	line-height: 1.5

}

.content ul {
	text-align: center;
}

.sidebar {
	border-left: 2px solid rgb(248, 220, 179);
	text-align: center;
	width: 30%;
	padding: 20px;
}

.skills li {
	padding: 10px 0 ;
	transition: transform 0.6s ease;
}

.skills li:hover {
	transform: translateX(10px);
}

.avatar {
	max-width: 100%;
	border-radius:100%;
}


.content-wrapper a {
	display: inline-block;
    color: #aa6307;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.content-wrapper a:after {
    display: block;
    content: "";
    background-color: #b3cca2;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.content-wrapper a:hover {
	color: #fdbe01;
	/* text-shadow:6px 6px 3px black; */
}

.content-wrapper a:focus {
	color: #b6aa88;
}
.content-wrapper a:visited {
	color: #ccc394;
}


.content-wrapper a:hover:after,
.content-wrapper a:focus:after {
    width: 100%;
}



